{% extends "base.html" %}
{% load static %}

{% block catalog %}
<!-- catalog -->
<div class="container">
    <h1>Умные колонки</h1>
    <div class="menu">
        <p>Умные колонки</p>
        <p>Наушники</p>
        <p>Ноутбуки</p>
        <p>Клавиатуры</p>
        <p>Мониторы</p>
    </div>
    <div class="row articles">

        {% for product in products %}
            <div class="col-3">
                <a class="link" href="{% url 'product_detail' product.pk %}"><img class="img-fluid" src="{{ product.img.url }}">
                    <br>
                    <br>
                <p class="btn btn-warning"><b>{{ product.price }}<span class="currency">{{ product.currency }}</span></b></p>
                    <br>
                <span class="title">{{ product.title }}</span></a>
            </div>

        {% endfor %}
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
{% endblock catalog %}
