{% extends "base.html" %}
{% load static %}

{% block catalog %}
<!-- catalog -->
<div class="container">
    <h1>Умные колонки</h1>
    <div class="menu">
        <p>Пункт меню</p>
        <p>Пункт меню</p>
        <p>Пункт меню</p>
        <p>Пункт меню</p>
        <p>Пункт меню</p>
        <p>Пункт меню</p>
        <p>Пункт меню</p>
        <p>Пункт меню</p>
    </div>
    <div class="row">

        {% for product in products %}
            <div class="col-3">
            <img class="img_category" src="{{ product.img.url }}">
            <p class="price">{{ product.price }}<span class="currency">{{ product.currency }}</span></p>
            <span class="title">{{ product.title }}</span>
            </div>
        {% endfor %}
        <div class="clear"></div>
    </div>
    <div class="clear"></div>
</div>
{% endblock catalog %}